.hero-section {
    background-image: url("../public/images/pexels.jpg"); /* The image used */
    background-color: #000; /* Used if the image is unavailable */
    min-height: 100vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.hero-section h1{
    color: #fff;
    font-size: 60px;
}