.hero-section {
    background-image: url("../public/images/pexels.jpg"); /* The image used */
    background-color: #000; /* Used if the image is unavailable */
    min-height: 100vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.hero-section h1{
    color: #fff;
    font-size: 60px;
}

.me-image {
    vertical-align: middle;
    width: 150px;
    border-radius: 50%;
}

@media only screen and (min-width: 1000px) {
    .about-section {
        padding: 50px;
    }

    .me-image {
        vertical-align: middle;
        width: 200px;
        border-radius: 50%;
    }
  }


@media only screen and (min-width: 1200px) {
    .me-image {
        vertical-align: middle;
        width: 250px;
        border-radius: 50%;
    }
}